* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    --colorcajas: #228be6; /* color de las cajas */
    --alturaNav: 100px;
    --anchoMenu: 136px;
}

.nav-container {
    width: 100%;
    height: var(--alturaNav);
    background: #228be6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu {display: flex;}
.items {
    display: flex;
    justify-content: center;
    width: var(--anchoMenu);
    padding: 16px;
}
/* icono hamburger , cross y palabra HOME (ocultas inicialmente)*/
.menu-movil , .cross , .item1 {
    display: none;
}
.cross , .user {
    margin-right: 48px;
    padding: 16px;
}

/* separación de los elementos del menú*/
a {
    color: white;
    line-height: 24px;
    padding: 0 64px;
    border-radius: 20.8px;
}
/* Cambia de color de la etiqueta 'a' y los iconos al pasar el mouse */
a:hover , .user:hover , .cross:hover , .menu-movil:hover {background: #09457a7e;}
/* Al pulsar en un boton del menu se reduce el tamanio */
a:active {
    transform: scale(.95);
}
/* color de los iconos */
i {color: black;}

/* contenedor de las cajas */
section {
    width: 700px;
    height: 700px;
    margin: auto;
    margin-top: 100px;
}
/* clase que controlara los contenedores de los artículos*/
.cajas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* clase que controla los artículos */
.cuadrados {
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 200px;
    font-size: 32px;
    color: #fff;
}
/* tamaño de los artículos cuadrados */
.tam1 {
    width: 200px;
    height: 200px;
    background: var(--colorcajas);
}
/* tamaño de los artículos rectángulos */
.tam2 {
    width: 400px;
    height: 200px;
    background: var(--colorcajas);
}
/* tamaño de los artículos que ocupan todo el ancho */
.tam3 {
    width: 100%;
    height: 200px;
    background: var(--colorcajas);
}

/* modal de imágenes */
.modal {
    position: absolute;
    top: 150px;
    width: 100%;
    height: 90%;
    background: rgba(212, 135, 135, 0.3);
}
.slider {
    display: flex;
    justify-content: flex-end;
    width: 700px;
    height: 700px;
    position: relative;
    top: 50px;
    margin: auto;
}
#close {
    position: absolute;
    top: 100px;
    right: 100px;
    font-size: 30px;
    padding: 0 5px;
}
.imagenes {
    margin: auto;
    width: 500px;
    height: 500px;
}

@media (max-width: 715px) {
    /* icono de user no mostrado para movil */
    .user {display: none;}
    /* icono hamburger se muestra */
    .menu-movil {display: flex;}
    /* se muestra la palabra HOME */
    .menu > .item1 {display: flex;}
    .nav-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: all 0.5s;
    }
    .menu {
        display: table;
        position: absolute;
        top: var(--alturaNav);
        left: -240px;
        transition: all 0.5s;
        border-radius: 15px;
        width: 20%;
        background: #1F2B2D;
    }
    /* Vista del hamburger */
    .menu-movil {
        width: calc(var(--anchoMenu) / 3);
        height: calc(var(--anchoMenu) / 3);
        font-size: 25px;
        margin-left: 32px;
    }
    /* centrar el hamburger */
    .menu-movil i {
        margin: auto;
    }
    .menu-movil , .cross {
        margin-top: calc(var(--alturaNav) / 4);
    }
    /* tomara el lugar del hamburger cuando se oculte */
    .nav-container:nth-last-child() {
        order: -10;
    }

    a {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom: 1px solid #ffffff;
    }
    .items {
        width: calc(var(--anchoMenu) - 48px);
        line-height: 32px;
        padding: 8px 32px;
        padding-left: 16px;
        display: flex;
        justify-content: flex-start;
        color: white;
    }
    section {
        width: 100%;
    }

    /* css para cajas */
    .cajas {
        align-items: center;
    }
    .caja1 , .caja2 , .caja3 , .caja4 , .caja5 {
        width: 200px;
        height: 200px;
        margin-bottom: 50px;
    }
    .cuadrados {
        display: flex;
        flex-direction: column;        
    }
}
