/* contenedor de las cajas */
section {
    width: 700px;
    height: 700px;
    margin: auto;
    margin-top: 100px;
}
//clase que controlara los contenedores de los artículos
.cajas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //clase que controla los artículos
    .cuadrados {
        display: flex;
        justify-content: space-between;
        text-align: center;
        line-height: 200px;
        font-size: 32px;
        color: #fff;
        //tamaño de los artículos cuadrados
        .tam1 {
            width: 200px;
            height: 200px;
            background: #228be6;
        }
        //tamaño de los artículos rectángulos
        .tam2 {
            width: 400px;
            height: 200px;
            background: #228be6;
        }
        //tamaño de los artículos que ocupan todo el ancho
        .tam3 {
            width: 100%;
            height: 200px;
            background: #228be6;
        }
    }
}